
<section class="container">
  <h2 class="gallery-name">Activity: {{pairing.activity.name}}</h2>
  <!-- If the user is logged in, render the gallery content -->
  <section class="flex-row justify-center">
    {{#each pairing.activity.cannabisIndices }}
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/{{image}}" width= "400" height= "300" alt="{{description}}">
<!-- If the user is logged in, render the review section -->
{{!-- {{#if logged_in}} --}}
    <form class="mb-3">
        <textarea
          class="form-control"
          id="new-comment-form"
          rows="3"
          placeholder="Add a review..."
        ></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
<!-- TODO: Otherwise, provide a link to login -->
{{!-- {{else}} --}}
<a href = "/login">You have to log in to leave a review</a>
{{!-- {{/if}} --}}
</div>
{{/each}}
   </section>
</section>
