<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity Pairings</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/activity.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
</head>

<header>
  <section class="hero is-success ">
    <div class="hero-body">
      <p class="title has-text-centered " id="homepageTitle">Strain Finder</p>



      <div class="dropdown is-hoverable" id="dropdown">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
            <p>Menu</p>



          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <div class="buttons is-centered">
                <button class="button is-primary is-rounded" id="logout">Logout</button>
                <hr class="dropdown-divider">
                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                <button class="button is-primary is-rounded" id="Find an Activity"> Find an Activity</button>
                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a Strain</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</header>

<h1 class="has-text-centered">{{activity.name}}</h1>
<div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center">
  {{#each activity.cannabisIndices}}
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card" id="activity-card">
      <div class="card-content has-text-centered">
        <img src="/{{image}}" width="400" height="300" alt="{{description}}" id="CannabisImage">
        <p id="CannabisName">{{name}}</p>
        {{!-- Future dev Idea --}}
        <p id="MostRecentReview">Most recent review</p>
        {{!-- Future dev Idea --}}
        <form class="mb-3 new-review-form">
           <input type="hidden" name="activityName" id= "activityName" value="{{../activity.name}}">
           <input type="hidden" name="cannabisName" id="cannabisName" value="{{name}}">
           <input type="hidden" name="cannabisImage" id="cannabisImage" value="{{image}}">
           <input type="hidden" name="cannabisStrain" id="cannabisStrain" value="{{strain}}">
          <div class="field has-addons is-centered is-flex is-justify-content-center">
            <div class="control">
              <input class="input is-rounded" type="text" id="new-review" placeholder="Add a Review">
            </div>
            <div class="control">
              {{!-- <input class="input is-rounded" type="text" id= "new-star-rating" placeholder="Add a Rating (1-5)"> --}}
              <select class="input is-rounded" type="text" id= "new-star-rating" placeholder="Add a Rating (1-5)">
                <option value="">Add a Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select> 
            </div>
            <div class="control">
              <button type="submit" data-index= "{{pairing.id}}"class="button is-info is-primary is-rounded" id="submit-button">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="/js/activity.js"></script>