<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activity Pairings</title>
  <link rel="stylesheet" type="text/css" href="/css/activity.css">
</head>

<section class="container">
  <h2 class="activity-name">Activity: {{activity.name}}</h2>
  <!-- If the user is logged in, render the gallery content -->
  <section id="activity-width">
    {{#each activity.cannabisIndices }}
    <div class="card-body">
      <header>{{name}}</header>
      <img src="/{{image}}" width= "400" height= "300" alt="{{description}}">
<!-- If the user is logged in, render the review section -->
{{!-- {{#if logged_in}} --}}
    <form class="mb-3">
        <textarea
          class="form-control"
          id="review-form"
          rows="3"
          placeholder="Add a review..."
        ></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
<!-- TODO: Otherwise, provide a link to login -->
{{!-- {{else}} --}}
<a href = "/login">You have to log in to leave a review</a>
{{!-- {{/if}} --}}
</div>
{{/each}}
   </section>
</section>
