<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/findStrain.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/strainSet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<header>
    <section class="hero is-success ">
        <div class="hero-body">
            <h1 class="title has-text-centered " id="homepageTitle">Strain Finder</h1>



            <div class="dropdown is-hoverable" id="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <p>Menu</p>



                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="buttons is-centered">
                                <button class="button is-primary is-rounded" id="logout">Logout</button>
                                <hr class="dropdown-divider">
                                <button class="button is-primary is-rounded" id="Homepage">Homepage</button>
                                <button class="button is-primary is-rounded" id="Find an Activity"> Find an
                                    Activity</button>
                                <button class="button is-primary is-rounded" id="Explore a Strain">Explore a
                                    Strain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>

<h1 class="has-text-centered">{{strainName}}s</h1>

<div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center" id="ReviewsContainer">
    {{#each cannabisSerialize}}
    <div class="column is-one-third-desktop is-half-tablet">
        <div class="card" id="cannabis-card">
            <div class="card-content has-text-centered">
                <img src="/{{this.image}}" alt="image of {{this.name}}" id="CannabisImage" />
                <p id="CannabisName">{{this.name}}</p>
                <p id="CannabisDescription">{{this.description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>



<script src="/js/strainSet.js"></>