<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/homepage.js"></script>
</head>




<header>
    <section class="hero is-success ">
        <div class="hero-body">
            <h1 class="title has-text-centered " id="homepageTitle">StrainFinder</h1>



            <div class="dropdown is-hoverable" id="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <p>Menu</p>



                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="buttons is-centered">
                                <button id="logout" class="button is-primary is-rounded ">Logout</button>
                                <hr class="dropdown-divider">
                                <button class="button is-primary is-rounded">Homepage</button>
                                <button class="button is-primary is-rounded"> Find an Activity</button>
                                <button class="button is-primary is-rounded">Explore a Strain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>


<body>
    <h1 class="has-text-centered">Most Recent Reviews</h1>
<div class="columns is-multiline is-flex-wrap-wrap is-justify-content-center">
  {{#each reviews}}
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card">
      <div class="card-content has-text-centered">
        <img src="{{pairing.cannabisIndex.image}}"  alt="image of cannabis" id="CannabisImage" />
        <p id="CannabisName">{{pairing.cannabisIndex.name}}</p>
        <p id="Reviewer">User: {{user.name}}</p>
        <p id="Activity">Activity: {{pairing.activity.name}}</p>
        <p id="Strain">Strain: {{pairing.cannabisIndex.strain}}</p>
        <p id="Rating">Rating: {{emoji_starRating}} stars</p>
        <p id="Review">Review: {{content}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>


 <h1 class="has-text-centered">My User Activities</h1>
<div class="columns is-centered">
  <div class="column is-half">
    <div class="card">
      <div class="card-content has-text-centered">
      </div>
    </div>
  </div>
</div>
</body>

