<header>
    <section class="hero is-success ">
        <div class="hero-body">
            <p class="title has-text-centered " id="homepageTitle">Find my Weed</p>



            <div class="dropdown is-hoverable" id="dropdown">
                <div class="dropdown-trigger">
                    <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <p>Menu</p>



                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <div class="buttons is-centered">
                                <button id="logout" class="button is-primary is-rounded ">Logout</button>
                                <hr class="dropdown-divider">
                                <button class="button is-primary is-rounded">Homepage</button>
                                <button class="button is-primary is-rounded"> Find an Activity</button>
                                <button class="button is-primary is-rounded">Explore a Strain</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</header>


<body id="body">
    <section class="container is-fluid" id="recentReviews">
        <div class="">
            <h1 class="has-text-centered">Most Recent Reviews</h1>
            {{#each reviews}}



            <section class="section mb-5 mt-0 pt-0 startpage ">
                <div class="container has-text-centered">
                    <div class="row" id="columns-container">
                        <div class="row is-one-third" id="data-card-row">
                            <h1 class="is-size-1 title" id="left-box-title"></h1>
                            <div class="card">
                                <h2><strong><span id="symbol"></span></strong></h2>
                                <div class="card-content">

                                    <div class="content" id="cannabis-data">
                                        <img src="{{pairing.cannabis.image}}" alt="" />
                                        <h2>{{pairing.cannabis.name}}</h2>
                                        <p>{{pairing.cannabis.strain}}</p>
=======
                                    <div class="content" id="coin-data">
                                        <p>Reviewer: {{user.name}}</p>
                                        <p>Activity: {{pairing.activity.name}}</p>
                                        <img src="{{pairing.cannabisIndex.image}}" height="400" width= "500" alt="image of cannabis" />
                                        <h2>{{pairing.cannabisIndex.name}}</h2>
                                        <p>Strain: {{pairing.cannabisIndex.strain}}</p>
                                        <p>Rating: {{emoji_starRating}} stars</p>
                                        <p>Review: {{content}}</p>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
{{/each}}
            <section class="container is-fluid" id="usersActivities">
                <h1 class="has-text-centered">My User Activities</h1>
                <div>
                    {{!-- <p>{{FUTURE USER ACTIVITIES}}</p> --}}
                </div>
            </section>
</body>